@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}
form>input,#optionButtons>button{
    font-family: "cursive",sans-serif;
    font-size:1.2em ;
}
.gameBoard{
width: 350px;
height: 300px;
border: 2px  solid black;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
/*text*/
}
.gameBoard>button{
font-family: "Water Brush","cursive";
font-size: 2em;
font-weight: 600;
}